footer {
    background-color: #3586ffd4;
    color: #34374a;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer-section {
    margin-bottom: 25px;
}

h2 {
    font-size: 15px;
}


.footer-icons img {
    width: 35px;
    transition: 0.4s;
}

.social-media img:hover {
    transform: scale(1.2);
}

.telephon, .mail {
    color:#34374a;
text-decoration: none;
font-weight: 550;
display: flex;
flex-direction: column;

}

.telephon:hover, .mail:hover {
    color: rgb(24, 30, 36);  

}

@media screen and (min-width: 600px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-section {
        flex-basis: 33%;
        margin: 0 15px;
    }

    .footer-section:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 992px) {
    footer {
        line-height: 0.8;
    }

    .footer-section {
        margin: 15px;
        text-align: center;
    }
}

